.league-section {
  border: solid 1px #2b4470;
  background-color: #4268b0;
  display: flex;
}

#arrow {
  height: 25px;
  padding: 5px 5px 0 0;
}

.league-section:hover {
  background-color: #3f63a5;
}

.league-logo {
  width: 85%;
}
