#menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 10px 30px;
}

#menu li a {
    text-decoration: none;
}

#menu li.active a {
    text-decoration: underline;
  }

  #about {
    margin-left: auto;
  }